<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head('manageBlog')">
</head>
<body>
    <!--navigator-->
    <nav th:replace="admin/_fragments :: admin_nav('home')"></nav>

    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="item">Edit</a>
                <a href="#" class="active teal item">List</a>
            </div>
        </div>
    </div>
    <!--main body-->
    <div class="my-padded-tb-l">
        <div class="ui container">
            <form action="#" method="post" class="ui segment form">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="title">
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="category">
                            <i class="dropdown icon"></i>
                            <div class="default text">Category</div>
                            <div class="menu">
                                <div class="item" data-value="1">Coding</div>
                                <div class="item" data-value="2">Thinking</div>
                                <div class="item" data-value="3">Gaming</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">recommend</label>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui teal basic button"><i class="search icon"></i>Search</button>
                    </div>
                </div>
            </form>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Recommend</th>
                        <th>Update Time</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Placeholder</td>
                        <td>useful tools</td>
                        <td>Yes</td>
                        <td>04/19/2020 18:00</td>
                        <td>
                            <a href="#" class="ui basic small teal button">edit</a>
                            <a href="#" class="ui basic small red button">delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Placeholder2</td>
                        <td>useful tools</td>
                        <td>No</td>
                        <td>04/19/2020 18:35</td>
                        <td>
                            <a href="#" class="ui basic small teal button">edit</a>
                            <a href="#" class="ui basic small red button">delete</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui pagination small menu">
                                <a class="icon item my-button-width">
                                    <i class="left chevron icon"></i>
                                    <div class="my-padded-lr-ms">Previous</div>
                                </a>
                                <a class="icon item my-button-width">
                                    <div class="my-padded-lr-ms">Next</div>
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                            <a href="#" class="ui small right floated teal basic button">New</a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>

    <!--footer-->
    <footer th:replace="_fragments :: footer"></footer>
    <div th:replace="_fragments :: basic_scripts"></div>
    <script>
        $("#menu_toggle").click(function () {
            $('.my-menu-item').toggleClass('my-mobile-hide')
        });

        $('.ui.dropdown').dropdown();
    </script>
</body>
</html>