<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head('500')"></head>
<body>
<!--navigator-->
<nav th:replace="_fragments :: navigator('error')" class="ui inverted attached segment my-shadow"></nav>
<div class="my-container-s">
    <div class="ui error message my-padded-tb-l my-margin-tb-xxl">
        <div class="ui container">
            <h2>500</h2>
            <p>Ops! Something happened on the server...</p>
        </div>
    </div>
</div>
<!--footer-->
<footer th:replace="_fragments :: footer"></footer>
</body>
</html>