
body {
    background: url("../images/background.png");
}

.my-padded-mini {
    padding: 0.4em !important;
}

.my-padded-m {
    padding: 2em !important;
}

.my-padded-tb-xs {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.my-padded-tb-clear {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.my-padded-tb-s {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.my-padded-tb-ms {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.my-padded-lr-ms {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.my-padded-tb-m {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.my-padded-tb-ml {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.my-padded-tb-l {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.my-padded-tb-xl {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.my-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.my-margin-tb-xs {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.my-margin-top-m {
    margin-top: 2em !important;
}

.my-margin-bottom-xs {
    margin-top: 0.5em !important;
}

.my-margin-tb-clear {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-margin-tb-xxl {
    margin-top: 8em !important;
    margin-bottom: 7em !important;
}

/*--------------------text--------------------*/
.my-text {
    font-weight: 400 !important;
    letter-spacing: 0.3px !important;
    line-height: 1.5 !important;
    opacity: 0.8 !important;
}

.my-text-light {
    font-weight: 500 !important;
}

.my-text-thin {
    font-weight: 400 !important;
}

.my-text-extreme-thin {
    font-weight: 200 !important;
}

.my-text-spaced {
    letter-spacing: 1px !important;
}

.my-text-lined {
    line-height: 1.8 !important;
}

.my-opacity-mini {
    opacity: 0.8 !important;
}

.my-opacity-tiny {
    opacity: 0.6 !important;
}

/*--------------------display--------------------*/
.my-inline-block {
    display: inline-block; !important;
}

.my-sized {
    width: 800px !important;
    height: 400px !important;
}

.my-button-width {
    width: 9em !important;
}

.my-container {
    max-width: 72em !important;
    margin: auto !important;
}
.my-container-s {
    max-width: 60em !important;
    margin: auto !important;
}

/*--------------------shadow--------------------*/
.my-shadow {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.4) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4) !important;
}

/*--------------------position--------------------*/
.my-top-right  {
    position: absolute !important;
    top: 2em !important;
    right: 2em !important;
}

.my-bottom-right  {
    bottom: 2em !important;
    right: 2em !important;
}

.my-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

/*--------------------color--------------------*/
.my-black {
    color: #2d2d2d !important;
}

.my-teal {
    color: #00b5ad !important;
}

.my-mobile-show {
    display: none !important;
}

/*--------------------fit mobile device--------------------*/
@media screen and (max-width: 768px) {
    .my-mobile-hide {
        display: none !important;
    }

    .my-mobile-show {
        display: block !important;
    }

    .my-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .my-mobile-fluid {
        width: 100% !important;
    }

    .my-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}