<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head('history')"></head>
<body>
    <!--navigator-->
    <nav th:replace="_fragments :: navigator('history')"></nav>

    <!--main body-->
    <div class="my-padded-tb-l">
        <div class="ui container">
<!--            head-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h2 class="ui teal header my-text-spaced">History</h2>
                    </div>
                    <div class="right aligned column my-text-spaced">
                        <h2 class="ui orange header my-inline-block my-text-thin"> 144 </h2>&nbsp; blogs in total
                    </div>
                </div>
            </div>
            <h2 class="ui center aligned header">2020</h2>
            <div class="ui fluid vertical menu">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
            </div>

            <h2 class="ui center aligned header">2019</h2>
            <div class="ui fluid vertical menu">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
            </div>

            <h2 class="ui center aligned header">2018</h2>
            <div class="ui fluid vertical menu">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="teal small circle icon"></i> A placeholder topic.
                        <div class="ui teal basic left pointing small label">04/18</div>
                    </span>
                    <div class="ui orange basic left pointing label my-margin-tb-clear">Original</div>
                </a>
            </div>

        </div>
    </div>

    <footer th:replace="_fragments :: footer"></footer>
    <div th:replace="_fragments :: basic_scripts"></div>
    <script>
        $("#menu_toggle").click(function () {
            $('.my-menu-item').toggleClass('my-mobile-hide')
        });

        $('#payButton').popup({
            popup : $('#payBlock.popup'),
            on : 'click',
            position: 'bottom center'
        });
    </script>
</body>
</html>